{% extends 'blog/base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-10 content-section shadow-sm">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Contact Me</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="border-bottom">
            <button class="btn btn-outline-info my-3" type="submit">Contact Me</button>
        </div>
    </form>
</div>

{% endblock content %}